.layout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 81px;
}
.panel{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.panel h2{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-100);
}

.section{
    width: 75%;
}
.sectionSelect div p{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--blue-40);
}
.active{
    color: var(--blue-100);
}
.sectionSelect{
    display: flex;
    flex-direction: column;
    gap: 44px;
    padding-top: 44px;
}

.line{
    border: 1px solid var(--secondary-100);
    max-width: 321px;
}