.container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--white-100);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 170px;
    gap: 44px;
}

.article{

}

.article h2{
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-100);
}

.items{
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.btn{
    border-radius: 100px;
    padding: 18px 40px;
    width: 237px;
    height: 60px;
    background: var(--blue-100);
}
.btn a{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--white-100);
}