.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(2px);
    background: rgba(12, 18, 42, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}
.modalClose{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
.modal {
    background-color: white;
    padding: 16px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
@media (max-width: 500px) {
    .modal{
        padding: 16px 15px;
    }
}
@media (max-width: 470px) {
    .modal{
        padding: 16px 0px;
    }
}