.item{
    display: flex;
    padding: 14px;
    width: 222px;
    height: 263px;
    flex-direction: column;
    gap: 20px;
}
.bigItem{
    display: flex;
    padding: 14px;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: 20px;
}
.textInfo {

}

.imageWrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    cursor: default;
}
.imageWrapper :global(img){
    width: 161px;
    height: auto;
    object-fit: contain;
}
.imageWrapper img {
    width: 161px;
    height: 100px;
}
.bigImageWrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    cursor: default;
}
.bigImageWrapper :global(img){
    width: 261px;
    height: auto;
    object-fit: contain;
}
.bigImageWrapper img {
    width: 261px;
    height: 261px;
}
.textInfo a{
    text-decoration: none;
}
.textInfo h3{
    font-weight: 500;
    font-size: 24px;
    color: var(--blue-100);
}
.price{
    display: flex;
    align-items: center;
}
.priceWithoutSale p{
    font-size: 14px;
    font-weight: 500;
}
.priceDefault {
    font-weight: 500;
    font-size: 14px;
    text-decoration: line-through;
    color: var(--blue-100);
}
.priceSale {
    font-weight: 500;
    font-size: 14px;
    color: var(--alert);
}

@media (max-width: 895px) {
    .item{
        padding: 6px;
        width: 200px;
    }
}

@media (max-width: 796px) {
    .item{
        padding: 2px;
        width: 160px;
    }
}
@media (max-width: 724px) {
    .item {
        width: 300px;
        height: auto;
    }
    .textInfo h3{
        font-size: 30px;
    }
    .priceDefault {
        font-size: 20px;
    }
    .priceSale {
        font-size: 20px;
    }
    .imageWrapper img {
        width: 300px;
        height: 280px;
    }
    .priceWithoutSale p{
        font-size: 20px;
    }
}