.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 380px;
    background: var(--white-100);
}

.promo{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.promo h2{
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-100);
}
.promo p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--blue-100);
}