.waveSection {
    position: relative;
    width: 100%;
    background: var(--bg);
    padding-top: 180px;
    padding-bottom: 50px;
    overflow: hidden;
}

.waveSection::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 140%;
    height: 300px;
    background: #ffffff;
    border-radius: 0 0 50% 50% / 0 0 75% 75%;
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 140px;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.container hr {
    border: 1px solid var(--secondary-40);
    width: 98%;
    height: 0;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
    width: 483px;
    height: 18px;
    position: relative;
}
.links a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--blue-100);
}
.copyright{
    width: 100%;
    height: 48px;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-bottom: 50px;
}

.copyright p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--blue-40);
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
    flex-direction: column;
    width: 100%;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
    flex-direction: row;
    height: 117px;
    width: 100%;
}

.infoItem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 117px;
    gap: 48px;
    width: auto;
    flex-direction: column;


}
.infoItem h3{
    font-weight: 700;
    font-size: 44px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--blue-100);
}

.infoItem p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--blue-100);
}

@media (max-width: 1121px) {
    .info{
        gap: 150px;
    }
}

@media (max-width: 946px) {
    .info{
        gap: 100px;
    }
    .logo svg{
        width: 98%;
        height: auto;
    }
}
@media (max-width: 720px) {
    .info{
        gap: 40px;
    }
}
@media (max-width: 620px) {
    .info{
        gap: 30px;
    }
    .infoItem{
        gap: 16px;
    }
    .links a{
        font-size: 13px;
    }
}
@media (max-width: 521px) {
    .info{
        gap: 20px;
    }
    .infoItem{
        gap: 13px;
    }
    .infoItem h3{
        font-size: 35px;
    }
    .infoItem p{
        font-size: 12px;
    }
}