.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.label p{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--blue-100);
}
.infoContainer{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.infoContainer h2{
    font-weight: 700;
    font-size: 44px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--blue-60);
}

.infoContainer h3{
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--blue-60);
    font-size: 16px;
}