.logoContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}


@media (max-width: 630px) {
    .logoContainer {
        position: static;
        transform: none;
        margin-right: auto;
        pointer-events: auto;
    }
}
