.container {
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--bg);
    padding-top: 50px;
    overflow: visible;
    z-index: 2;
    position: relative;
}

.container h1{
    font-weight: 900;
    font-size: 45px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-100);
}

.imageWrapper{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    overflow: visible;
}

.imageWrapper img {
    width: 720px;
    height: 720px;
    position: relative;
    bottom: 120px;
}

.promo{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 140px;
    left: 450px;
}

.bgCurve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background: var(--white-100);
    clip-path: ellipse(70% 45% at 50% 100%);
    z-index: -1;
}