.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.headerContainer {
    position: relative;
    width: 94.44vw;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e4e4e7;
    border-radius: 62px;
    padding: 10px 40px;
    backdrop-filter: blur(64px);
    background: rgba(255, 255, 255, 0.5);
}


.mobileMenu{
    display: none;
}
@media (max-width: 630px) {

    .mobileMenu{
        position: relative;
        top: 110px;
        left: 120px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px;
        width: 23vw;
        background: rgba(255,255,255,0.7);
        border: 1px solid #e4e4e7;
        border-radius: 12px;
        backdrop-filter: blur(20px);
    }

    .mobileMenuLinks{
        color: #0B0E1F;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

@media (max-width: 400px) {
    .mobileMenu{
        width: 17vw;
        padding: 10px;
        top: 90px;
    }
    .mobileMenuLinks{
        font-size: 12px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.fadeIn {
    animation: fadeIn 0.3s ease forwards;
}

.fadeOut {
    animation: fadeOut 0.3s ease forwards;
}
