.ghostButton{
    border: 1px solid var(--white-100);
    border-radius: 100px;
    padding: 12px 16px;
    height: 41px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--blue-100);
}