.mainContainer {
    width: 100vw;
    height: auto;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 160px;
    padding-bottom: 100px;
}
.aboutUs{
    margin-top: 57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.aboutUsInfo{
    display: flex;
    gap: 24px;
    text-align: center;
    flex-direction: column;
}
.aboutUsInfo h2{
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-100);
}
.aboutUsInfo p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--blue-80);
}

.imageWrapper{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    overflow: visible;
}
.imageWrapper img {
    width: 1014px;
    height: 565px;
    border-radius: 10px;
}

.ourMissionContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.ourMissionInfo{
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 45px;
}
.imageWrapper2{
    width: 49%;
}
.imageWrapper2 img{
    border-radius: 10px;
    width: 668px;
    height: 437px;
}

.commandContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.imageWrapper3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
}
.imageWrapper3 img{
    border-radius: 10px;
    width: 668px;
    height: 437px;
}

