.solidButton{
    border-radius: 100px;
    padding: 12px 16px;
    height: 41px;
    background: var(--blue-100);
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--white-100);
    cursor: pointer;
}
