.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 1000px;
}
.article{
    height: 20%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.article h1{
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-100);
}

.contactsContainer{
    width: 100%;
    height: 80%;
    padding-left: 39px;
    padding-right: 39px;
    display: flex;
    flex-direction: row;

}

.feedbackContainer{

}





.contacts {
    width: 50%;
}

.contactsTitle {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: var(--blue-100);
}

.contactsList {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.contactsItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    color: var(--blue-60);
}

.contactsItem a {
    color: inherit;
    text-decoration: none;
}

.contactsItem a:hover {
    text-decoration: underline;
}

.icon {
    font-size: 22px;
    color: #111827;
    min-width: 24px;
}

.contactsSubtitle {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 20px;
    color: var(--blue-100);
}

.contactsSocials {
    display: flex;
    gap: 16px;
}

.contactsSocials a {
    width: 44px;
    height: 44px;
    color: white;
    display: grid;
    place-items: center;
    text-decoration: none;
    font-size: 20px;
}


