.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 437px;
    height: 437px;
    background: linear-gradient(180deg, rgba(79, 148, 164, 0) 0%, #4f94a4 100%);
    position: relative;
}
.a{
    text-decoration: none;
}
.textInfo{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 24px 24px 40px;
    cursor: default;

}
.textInfo h3{
    cursor: pointer;
    font-weight: 500;
    font-size: 44px;
    color: var(--white-100);
    text-decoration: none;
}
.textInfo p{
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: var(--white-100);
    text-decoration: none;
}

.priceAndBtn{
    padding: 24px 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}
.priceAndBtn p{
    font-weight: 500;
    font-size: 14px;
    color: var(--white-100);
}
.ghostBtnModify{
    border: 1px solid var(--white-100);
    border-radius: 100px;
    padding: 12px 16px;
    width: 122px;
    background: transparent;
    height: 40px;
    cursor: pointer;
}
.ghostBtnModify p{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--white-100);
}


@media (max-width: 1483px) {
    .container {
        width: 337px;
        height: 347px;
    }
    .textInfo{
        padding: 24px 24px 0;
    }
    .priceAndBtn{
        padding: 0 24px 24px 24px;
    }
}

@media (max-width: 1171px) {
    .container {
        width: 297px;
        height: 317px;
    }
    .textInfo{
        padding: 24px 24px 0;
    }
    .priceAndBtn{
        padding: 0 24px 24px 24px;
    }
    .textInfo h3{
        cursor: pointer;
        font-weight: 500;
        font-size: 34px;
        color: var(--white-100);
        text-decoration: none;
    }
}

@media (max-width: 1085px) {
    .container {
        width: 297px;
        height: 317px;
    }
    .textInfo{
        padding: 24px 24px 0;
    }
    .priceAndBtn{
        padding: 0 24px 24px 24px;
    }
    .textInfo h3{
        cursor: pointer;
        font-weight: 500;
        font-size: 34px;
        color: var(--white-100);
        text-decoration: none;
    }
}

@media (max-width: 1085px) {
    .container {
        width: 437px;
        height: 437px;
    }
    .textInfo{
        padding: 24px 24px 40px;
    }
}
@media (max-width: 500px) {
    .container {
        width: 337px;
        height: 337px;
    }
    .textInfo{
        padding: 24px 24px 0px;
    }
}