*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote {
    margin: 0;
    padding: 0;
}


ul[role='list'], ol[role='list'] {
    list-style: none;
}


@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }
}

body {
    font-family: var(--font-manrope), sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    overflow-x: hidden;
    overflow-y: hidden;
}
:root{
    --bg: rgb(194, 203, 213);
}